body { 
    background:#222222; 
    color:wheat; 
    text-align: center;
}
h1 { 
    color: pink;
    font-family: sans-serif;
    text-align: center;

}
div {
    border: 1px dashed white; 
    padding: 10px;
    width: 600px;
    margin: auto;

}